#adresse {
    -fx-text-fill: #ff22fd;
}

#date {
    -fx-text-fill: red;
}


#v_dispo {
    -fx-text-fill: red;
}

#nb_total_pAcces {
    -fx-text-fill: red;
}

#etatStation {
    -fx-text-fill: red;
}

#pointAttacheDispo {
    -fx-text-fill: red;
}

#cbDispo {
    -fx-text-fill: red;
}
